<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>
    </head>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nome }}</td>
                <td><a href="{% url 'exibir_categoria' categoria.id %}">Ver detalhes</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<html>